@charset "utf-8";
/* CSS Document */

*{
	margin-top: 0px;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
.main{
	width: 1140px;
	margin: 0 auto;
}
h1{
	font-size: 24px;
	font-weight: bold;
	color: #333333;
}
.logo{
	width: 247px;
	height: 79px;
	float: left;
	margin: 0 15px;
}
.slogan{
	width: 833px;
	height: 79px;
	float: left;
	margin: 0 15px;
}
.clr{
	clear: both;
}
.banner{
	width: 1110px; 
	height: 484px;
	margin: 25px 15px;
}
.all{
	width: 1110px;
	height: 34px;
}
.product{
	width: 1110px; 
	height: 520px;
	margin: 25px 15px;

}
.hinh{
	width: 235px;
	height: 360px;
	margin: 15px;
	background-color: #231313;
	float: left;
}
.newproduct{
	width: 1110px; 
	height: 520px;
	margin: 25px 15px;
	text-align: center;
}
.bannerqc{
	width: 1110px; 
	height: 480px;
	margin: 25px 15px;
}
.bestsale{
	width: 1110px; 
	height: 863px;
	margin: 25px 15px;
	text-align: center;
	color:red;
}
.all ul{
	list-style-type: none;
	line-height: 30px;
	padding-left: 20px;
}
.all ul li{
	float: left;
	margin: 0 15px;
}
.all ul li a{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-size: 30px;
}
.all ul li a:hover{
	color: #F51317;
}
.input_email
{
	float: left;
	margin-top:40px;
	margin-bottom:40px;
	margin-left:40px;
	
}
.button_subcribe
{
	height:30px;
	width:80px; 
	font-size: 10px;
	background-color:#d7d7d7;
	border-color:#d7d7d7;
	color:white;
	font-weight: bold;
}
.icon
{
	float:right;
	margin-right:50px;
	margin-top:30px;
}
footer
{
	margin-top:140px;
}